* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #A06EE1;
    font-size: 22px;
    width: 100%;
    padding: 10px 0 10px 0;
}

header nav {
    width: 80%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    font-size: 30px;
}

.btn-high-score {
    border-radius: 10px;
    background-color: #fff;
    text-decoration: none;
    border: 0;
    outline: 0;
    color: #A06EE1;
    font-size: 30px;
}

.btn-high-score:hover {
    background-color: #FFC2E9;
}

.btn1 {
    border-radius: 12px;
    border: 0;
    outline: 0;
    background-color: #A06EE1;
    color: #fff;
    font-size: 20px;
}

.btn1:hover {
    background-color: #FFC2E9;
    color: #000;
}

.main-content {
    margin: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;   
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
}

.introduction {
   text-align: center;
   grid-column: 1 / span 5;
   grid-row: 1 / span 5;
   place-self: center;
   font-size: 25px;
}

.score {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    font-size: 20px;
}

.enter-initials {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    font-size: 20px;

}

.initials-text {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    font-size: 15px;
    resize: none;
}

.begin {
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    padding: 10px;
}

.submit {
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
    padding: 10px;    
}

.opt1 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
}

.opt2 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 1;
}

.opt3 {
    grid-column: 1 / span 2;
    grid-row: 8 / span 1;
}

.opt4 {
    grid-column: 1 / span 2;
    grid-row: 9 / span 1;
}

.response-grid {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.response {
    text-align: left;
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
}

.response span {
    text-align: left;
}